<div class="col-md-3">
					 
    <div class="form-group group">
       <input type="text" class="form-control user-name" placeholder="First Name" id="text" required="">
    </div>
    <div class="form-group group">
       <input type="text" class="form-control user-name" placeholder="Last Name" id="text" required="">
    </div>
     <div class="form-group group">
       <input type="email" class="form-control user-name" placeholder="Email" id="text" required="">
    </div>
    <div class="form-group group" id="singleSelectDropdown">

    </div>
       <button type="submit" class="btn btn-primary login-btn2 next" id="btn-next">Next</button>
 
<!-- <a class="btn btn-primary login-btn2 next" data-target="#div2">Click Here</a> -->
</div>